@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);
@import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);

:root {
	--dtransparencycolor:			0,0,0;
	--dtransparencyalpha:			0.15;
	--dmessagetransparency:			0.5;
	--dguildchanneltransparency:	0.15;
	--dmemberlisttransparency:		0.0;
	--daccentcolor:					190,78,180;
	
	--dfont:						Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	--dtextshadow:					transparent;
	
	--dbackground:					url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/_res/background.jpg);
	--dbackgroundsize:				cover;
	--dbackgroundposition:			center;
	--dblur:						unset;
	--dbackdrop:					rgba(0,0,0,0.85);

	--vtransparencycolor:			var(--transparencycolor,			var(--dtransparencycolor));
	--vtransparencyalpha:			var(--transparencyalpha,			var(--dtransparencyalpha));
	--vmessagetransparency:			var(--messagetransparency,			var(--dmessagetransparency));
	--vusechatbubbles: 				calc(var(--vmessagetransparency) / (var(--vmessagetransparency) + 0.00000000000000000000001));
	--vguildchanneltransparency:	var(--guildchanneltransparency,		var(--dguildchanneltransparency));
	--vmemberlisttransparency:		var(--memberlisttransparency,		var(--dmemberlisttransparency));
	--vaccentcolor2:				var(--vaccentcolor);
	--vlinkcolor:					var(--vaccentcolor);
	
	--vfont:						var(--font,							var(--dfont));
	--vtextshadow:					var(--textshadow,					var(--dtextshadow));
	
	--vbackground:					var(--background,					var(--dbackground));
	--vbackgroundposition:			var(--backgroundposition,			var(--dbackgroundposition));
	--vbackgroundsize:				var(--backgroundsize,				var(--dbackgroundsize));
	--vbackgroundblur:				var(--backgroundblur,				var(--dblur));
	
	--vpopout:						var(--popout,						var(--vbackground));
	--vpopoutposition:				var(--backgroundposition,			var(--vbackgroundposition));
	--vpopoutsize:					var(--popoutsize,					var(--vbackgroundsize));
	--vpopoutblur:					var(--popoutblur,					var(--vbackgroundblur));
	
	--vbackdrop:					var(--backdrop,						var(--dbackdrop));
	--vbackdropposition:			var(--backgroundposition,			var(--vbackgroundposition));
	--vbackdropsize:				var(--backdropsize,					var(--vbackgroundsize));
	--vbackdropblur:				var(--backdropblur,					var(--vbackgroundblur));

	--fontwhite1: 					255,255,255;
	--fontwhite2: 					210,210,210;
	--fontwhite3: 					170,170,170;
	--fontwhite4: 					120,120,120;
}

.theme-light, .theme-dark {
	--header-primary: rgb(var(--fontwhite1));
	--header-secondary: rgb(var(--fontwhite2));
	--text-normal: rgb(var(--fontwhite2));
	--text-muted: rgb(var(--fontwhite4));
	--text-link: rgb(var(--vaccentcolor));
	--channels-default: rgb(var(--fontwhite4));
	--interactive-normal: rgb(var(--fontwhite3));
	--interactive-hover: rgb(var(--fontwhite2));
	--interactive-active: rgb(var(--fontwhite1));
	--interactive-muted: rgb(var(--fontwhite4));
	--elevation-low: 0 1px 5px 0 rgba(var(--vtransparencycolor), 0.3);
	--elevation-high: 0 2px 10px 0 rgba(var(--vtransparencycolor), 0.3);
	--logo-primary: rgb(var(--fontwhite1));
}


/* ~~~~		0.		TABLE OF CONTENTS				~~~~ */
/*
	1.	TRANSPARENCY
	2.	BACKGROUND
	3.	TITLEBAR
	4.	GUILDLIST
	5.	CHANNELLIST
		1.	GUILDHEADER
		2.	CHANNELS
		3.	DMCHANNELS
		4.	ACCOUNT/VOICE/GOLIVE
	6.	CHAT
		1.	CHANNELHEADER
		2.	MESSAGES
			1.	MESSAGE
			2.	EMBEDS
			3.	NITROGIFT
			4.	INVITE
		3.	TEXTAREA
		4.	AUTOCOMPLETEMENU
		5.	MEMBERLIST
		6.	SEARCHPAGE
		7.	CALL
		8.	UNAVAILABLESCREEN
	7.	PEOPLES
	8.	STORE/NITRO
	9.	LIBRARY
	10.	DISCOVERY
	11.	USERSETTINGS
	12.	GUILDSETTINGS
	13.	MODALS
		1.	USERMODAL
		2.	GUILDADD/CREATION
		3.	REGIONSELECTMODAL
		4.	UPLOADMODAL
		5.	KEYBOARDSHORTCUTSMODAL
		6.	QUICKSWITCHER
		7.	INVITEMODAL/GROUPCREATE
		8.	LOGINSCREEN
		9.	TERMACCEPTMODAL
		10.	DOWNLOADAPPMODAL
		11.	GUILDBOOSTMODAL
		12.	REACTIONSMODAL
		13.	GUILDTEMPLATEMODAL
		14.	GUILDWELCOMEMODAL
		15.	GUILDRULESMODAL
		16.	GUILDFEEDBACKMODAL
		17.	SCREENSHAREMODAL
	14.	POPOUTS
		1.	CONTEXTMENU
		2.	USERPOPOUT
		3.	EMOJIPICKER
		4.	PINS/MENTIONS
		5.	SEARCHPOPOUT
		6.	COLORPICKER
		7.	ADDROLE
		8.	EVERYONEMENTION
		9.	CHANNELFOLLOW
		10.	CHANNELFOLLOWINFO
		11.	EMOJIINFO
		12.	STREAMPREVIEW
	15.	GENERAL
		1.	TEXT
		2.	BUTTONS
		3.	INPUTS
		4.	SEARCHBARS
		5.	TAGS
		6.	ICONS
		7.	SCROLLBARS
		8.	NOTIFICATIONBAR
		9.	TOOLTIPS
	16.	BDSUPPORT
	17.	POWERCORDSUPPORT
	18.	PLUGINSUPPORT
		1.	BDFDB
		2.	DATEVIEWER
		3.	SERVERFOLDERS
		4.	MEMBERCOUNT
		5.	CHARCOUNTER
		6.	LINENUMBERS
		7.	PERMISSIONVIEWER
		8.	DIRECTDOWNLOAD
		9.	BETTERFORMATINGREDUX
		10.	PLUGIN/THEMEREPO
		11.	CHANNELHISTORY
		12.	CHANNELTABS
	19.	UPDATENOTICE
	20.	WATERMARK
*/


/* ~~~~		1.		TRANSPARENCY					~~~~ */

body,														/* body														*/
#app-mount .app-1q1i1E,										/* app					container							*/
#app-mount .app-2rEoOp,										/* app					inner								*/
#app-mount .container-16j22k,								/* app					loadingscreen						*/
#app-mount .wrapper-1prNyd,									/* app					errorscreen							*/
#app-mount .bg-h5JY_x,										/* app					background							*/
#app-mount .layer-3QrUeG,									/* layer				container							*/
#app-mount .container-3w7J-x,								/* channels				inner								*/
#app-mount .privateChannels-1nO12o,							/* dmchannels												*/
#app-mount .panels-j1Uci_ > *,								/* account/voice		inner								*/
#app-mount .chat-3bRxxu,									/* chat					container							*/
#app-mount .wrapper-3vR61M,									/* chat					messages loading					*/
#app-mount .noChannel-Z1DQK7,								/* nochannel												*/
#app-mount .members-1998pB,									/* members													*/
#app-mount .members-1998pB > div,							/* members				content								*/
#app-mount .content-MLh4nU,									/* unavailable												*/
#app-mount .container-1D34oG,								/* peoples													*/
#app-mount .applicationStore-1pNvnv,						/* nitro													*/
#app-mount .pageWrapper-1PgVDX,								/* guilddiscovery											*/
#app-mount .scrollerBase-289Jih,							/* scroller													*/
#app-mount .scroller-2FKFPG,								/* scroller old												*/
#app-mount .standardSidebarView-3F1I7i,						/* settings													*/
#app-mount .contentRegion-3nDuYy {							/* settings				content								*/
	background: transparent;
}

#app-mount .sidebarRegion-VFTUkN {							/* settings				sidebar								*/
	background-color: rgba(var(--vtransparencycolor), 0.2);
}
#app-mount .sidebar-_0OpfR {								/* sidebarlist			sidebar								*/
	background-color: rgba(var(--vtransparencycolor), 0.2);
}

#app-mount {												/* app-mount												*/
	background-color: rgba(var(--vtransparencycolor), var(--vtransparencyalpha));
}
#app-mount .wrapper-1Rf91z {								/* guilds				container							*/
	background-color: rgba(var(--vtransparencycolor), calc(var(--vguildchanneltransparency) * 2));
}
#app-mount .sidebar-2K8pFh {								/* channels				container							*/
	background-color: rgba(var(--vtransparencycolor), var(--vguildchanneltransparency));
}
#app-mount .panels-j1Uci_ {									/* account/voice		container							*/
	background-color: rgba(var(--vtransparencycolor), calc(var(--vguildchanneltransparency) / 1.5));
}
#app-mount .container-1r6BKw.themed-ANHk51 {				/* channelheader		container							*/
	background-color: rgba(var(--vtransparencycolor), var(--vguildchanneltransparency));
}
#app-mount .membersWrap-2h-GB4 {							/* members				container							*/
	background-color: rgba(var(--vtransparencycolor), var(--vmemberlisttransparency));
}
#app-mount .tabBar-fg4VK9 {									/* members				tabbar								*/
	background-color: rgba(var(--vtransparencycolor), var(--vmemberlisttransparency));
}
#app-mount .nowPlayingColumn-2sl4cE {						/* peoples				now playing							*/
	background-color: rgba(var(--vtransparencycolor), var(--vmemberlisttransparency));
}

#app-mount .image-3zK3Wt {									/* app					errorscreen image					*/
	background-image: url(https://discordapp.com/assets/e9baf4b505eb54129f832556ea16538e.svg);
	opacity: 0.6;
}


/* ~~~~		2.		BACKGROUND						~~~~ */

body::before {
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: var(--vbackground) var(--vbackgroundposition)/var(--vbackgroundsize);
	filter: blur(var(--vbackgroundblur));
}
#ace_settingsmenu_container,
.uploadArea-3QgLtW,
.backdropWithLayer-3_uhz4,
.backdrop-1wrmKB {
	background: var(--vbackdrop) var(--vbackdropposition)/var(--vbackdropsize) !important;
	filter: blur(var(--vbackdropblur));
	opacity: 1;
	animation: none;
}
.backdropWithLayer-3_uhz4 {
	z-index: -1;
}


/* ~~~~		3.		TITLEBAR						~~~~ */

.titleBar-AC4pGV {
	z-index: 5001;
}
.titleBar-AC4pGV::after {
	content: "";
	pointer-events: none;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(var(--vtransparencycolor), calc(0.1 + var(--vguildchanneltransparency) * 2));
}
.titleBar-AC4pGV:not(.typeMacOS-3EmCyP)::after {
	height: 22px;
}
.titleBar-AC4pGV.typeMacOS-3EmCyP::after {
	height: 28px;
	width: calc(100% - 4px);
	margin: 2px;
	border-radius: 5px;
}
.titleBar-AC4pGV.typeMacOS-3EmCyP,
.titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC {
	width: 72px;
}
.titleBar-AC4pGV.typeMacOS-3EmCyP.typeMacOSWithFrame-3R_i5S .macButtons-2MuSAC {
	margin-top: 0;
	margin-right: 0;
}
.platform-osx .wrapper-1Rf91z {
	margin-top: 0;
	padding-top: 32px;
}
.platform-osx .standardSidebarView-3F1I7i::before {
	left: 72px;
}
.winButton-iRh8-Z {
	color: rgb(var(--fontwhite3));
}
.winButtonMinMax-PBQ2gm:hover {
	background-color: rgba(var(--vtransparencycolor), 0.2);
}
.winButtonClose-1HsbF-:hover,
.winButtonMinMax-PBQ2gm:hover {
	color: rgb(var(--fontwhite1));
}


/* ~~~~		4.		GUILDLIST						~~~~ */

.childWrapper-anI2G9,										/* homebutton/acronym	innerwrap							*/
#bd-pub-button {											/* publicbutton			innerwrap							*/
	background-color: rgba(var(--vtransparencycolor), 0.3);
	color: rgb(var(--fontwhite2));
	font-weight: 500;
}
.…
